* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'work sans';
}

:root {
    --text-color: #131313;
    --main-color: #8f00ff;
    --primary-color: #fd49a0;
}

html {
    font-size: 62.5%;
}

form {
    background: #fff;
    padding: 2.5rem;
    border-radius: .8rem;
}

body {
    background: var(--main-color);
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
    color: var(--main-color);
    position: relative;
}

.flex {
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
}

input, select, textarea {
    background: transparent;
    width: 27rem;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: .4rem;
    outline: none;
    border: .1rem solid var(--main-color);
    font-size: 1.5rem;
}

input:focus, select:focus, textarea:focus {
    outline: .1rem solid var(--main-color);
}

textarea {
    width: 100%;
    resize: vertical;
}

label {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
}

input[type="submit"] {
    background: var(--main-color);
    color: #fff;
    transition: .5s;
    font-size: 2rem;
    cursor: pointer;
    font-weight: 500;
    transition: .5s background;
}

input[type="submit"]:disabled {
    opacity: 0.4;
}

@media (max-width: 1070px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 900px) {
    html {
        font-size: 49%;
    }
}

@media (max-width: 574px) {
    html {
        font-size: 38%;
    }

    body {
        padding: 0rem;
    }
}
